{% extends 'basemain.html.twig' %}
{% block title %} Inscription {% endblock %}
{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
